<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sq)$">
Order Allow,Deny
Deny from all
</FilesMatch>

DirectoryIndex index.php

RewriteEngine on
RewriteRule gry index.php
RewriteRule konto account.php
RewriteRule osiagniecia achievements.php
RewriteRule ustawienia settings.php
RewriteRule rankingi leaderboard.php
RewriteRule profil profile.php

RewriteRule logowanie login.php
RewriteRule rejestracja register.php
RewriteRule przypomnij-haslo password.php
RewriteRule wyloguj logout_script.php

RewriteRule pong pong.php
RewriteRule snake snake.php
RewriteRule tic-tac-toe tic_tac_toe.php

ErrorDocument 403 http://127.0.0.1/Gamehub.pl/error.php?code=403
ErrorDocument 404 http://127.0.0.1/Gamehub.pl/error.php?code=404
ErrorDocument 500 http://127.0.0.1/Gamehub.pl/error.php?code=500
ErrorDocument 503 http://127.0.0.1/Gamehub.pl/error.php?code=503

Options -Indexes 