* {

    margin: 0;
    padding: 0;

}

canvas {

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translateX(-50%) translateY(-50%);

}

:root {

    --main-color: #272727;
    --main-shade: #1c1c1c;
    --main-transparent: #1c1c1cee;

    /*#ffa31a*/

    --secondary-color: #0ff;

    --error: #d83b1b;

    --text: #fff;

    --transition: 0.5s;

    --bronze: #CD7F32;
    --silver: #c0c0c0;
    --gold: #ffd700;
    --platinum: #74dff1;
    --blocked: #404040;

}

::-webkit-scrollbar {

    display: none;

}

body {

    background-color: var(--main-color);
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;

}

@media screen and (orientation: portrait) {
    :root {

        font-size: calc((1vw + 1vh) / 2);

    }

    nav {

        width: 10vw;
        height: 10vw;

        position: fixed;
        bottom: 5vw;
        left: 45vw;
        z-index: 5;

    }

    nav > div {

        border-color: var(--text);
        background-color: var(--main-color);
        z-index: 2;
        font-size: 4rem;

    }

    nav > div > i {

        transition-duration: calc(var(--transition) * 2);

    }

    nav > a,
    nav > div {

        display: inline-block;
        width: 10vw;
        height: 10vw;
        line-height: 10vw;
        text-align: center;
        color: var(--text);
        border: 0.5rem solid;
        border-radius: 50%;
        box-sizing: border-box;
        cursor: pointer;

        position: absolute;
        left: 0;

        background-color: var(--main-color);

    }

    nav > a {

        text-decoration: none;
        border-color: var(--color);
        color: var(--color);
        transition-duration: var(--transition);
        transition-delay: calc(0.1s * var(--counter));
        transform-origin: 5vw center;
        transform: rotate(0deg) translateX(0vw);
        font-size: 3rem;

    }

    nav.active > a {

        transform: rotate(calc(-180deg / 4 * var(--counter))) translateX(15vw);

    }

    nav.active > div > i {

        transform: rotate(-135deg);

    }

    nav.active > a:hover {

        transition-delay: 0s;
        background-color: var(--color);

        -webkit-box-shadow: 0 0 4rem 0 var(--color);
        -moz-box-shadow: 0 0 4rem 0 var(--color);
        box-shadow: 0 0 4rem 0 var(--color);

    }

    nav.active > a:hover > i {

        transition-delay: 0s;
        color: var(--main-color);

    }

    nav > a > i {

        transition: 0.5s;
        transition-delay: calc(0.1s * var(--counter));

    }

    nav.active > a > i {

        transform: rotate(calc(180deg / 4 * var(--counter)));
    }

    button.start_game_button {

        display: block;

        position: relative;
        z-index: 5;

        width: 30vh;
        height: 30vh;

        background-color: var(--main-color);
        border: 2vh solid var(--secondary-color);
        border-radius: 50%;
        color: var(--secondary-color);

        margin: 35vh auto;

        box-sizing: border-box;

        font-size: 15rem;
        padding-left: 2.5rem;

    }

    header {

        width: 100vw;
        height: 15vh;
        line-height: 15vh;

        text-align: center;

        background-color: var(--main-shade);

        font-size: 5rem;

        position: fixed;
        top: 0;
        left: 0;
        z-index: 3;

    }

    main {

        margin-top: 15vh;

    }

    header > span.logo {

        color: var(--text);
        font-weight: bold;
        letter-spacing: 0.25rem;

        font-family: 'Arial';

    }

    header > span.logo > span.logo_color {

        display: inline-block;
        margin-left: 0.25rem;
        padding: 1rem;
        height: 5rem;
        line-height: 5rem;
        text-align: center;

        background-color: var(--secondary-color);

        border-radius: 1rem;

        color: var(--main-shade);

    }

    div.box {

        width: 75vw;
        height: 60vh;

        background-color: #1c1c1c;
        position: relative;

        border-radius: 1vh;

        left: 12.5vw;
        top: 5vh;

        overflow: hidden;

    }

    div.box::after,
    div.box::before {

        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: -50%;
        left: -50%;

        animation: rotate-border linear infinite 4s, col linear infinite 10s;

        transform-origin: bottom right;

        background-image: linear-gradient(0deg, transparent, var(--secondary-color), var(--secondary-color), transparent);

    }

    div.box::after {

        transform-origin: top left;

        top: unset;
        left: unset;

        bottom: -50%;
        right: -50%;

    }

    div.error_textbox,
    form.login,
    form.register {

        width: 74vw;
        height: calc(60vh - 1vw);
        position: absolute;
        top: 0.5vw;
        left: 0.5vw;

        border-radius: 1vh;

        background-color: var(--main-shade);

        z-index: 2;
        inset: 0.5vw;
        text-align: center;

    }

    form.login > h1,
    form.register > h1 {

        color: var(--text);
        margin-top: 5rem;
        margin-bottom: 5rem;
        font-size: 5rem;
        font-family: 'Arial';

    }

    form.login > span > input,
    form.register > span > input {

        border: none;
        outline: none;
        border-bottom: 0.5rem solid var(--secondary-color);
        background-color: transparent;
        height: 6vh;

        margin-bottom: 5rem;
        box-sizing: border-box;
        padding: 1vw;

        color: var(--text);

    }

    form.login > input[type="submit"],
    form.register > input[type="submit"] {

        outline: none;

        font-family: 'Arial';

        width: 30vw;
        height: 6vh;

        color: var(--secondary-color);
        background-color: var(--main-shade);

        border: 0.5rem solid var(--secondary-color);
        border-radius: 3vh;

        transition-duration: var(--transition);
        font-weight: bold;

        box-sizing: border-box;
        padding: 1vw;

        cursor: pointer;

        position: absolute;

        bottom: calc(6vh + 1vw);
        left: 22.5vw;

    }

    form.login > input[type="submit"]:hover,
    form.register > input[type="submit"]:hover {

        color: var(--main-shade);
        background-color: var(--secondary-color);

        -webkit-box-shadow: 0 0 4rem 0 var(--secondary-color);
        -moz-box-shadow: 0 0 4rem 0 var(--secondary-color);
        box-shadow: 0 0 4rem 0 var(--secondary-color);

    }

    form.login > a,
    form.register > a {

        color: var(--text);
        text-decoration: none;
        font-size: 2rem;

        transition-duration: var(--transition);

        position: absolute;

    }

    form.login > a {

        bottom: 20vh;

    }

    form.register > a {

        bottom: 15vh;
        right: 12.5vw;

    }

    form.login > a:first-of-type {

        left: 12.5vw;

    }

    form.login > a:last-of-type {

        right: 12.5vw;

    }

    form.login > a:hover,
    form.register > a:hover {

        color: var(--secondary-color);

    }

    form.login > span > span.error,
    form.register > span > span.error {

        display: inline-block;
        height: 6vh;
        line-height: 6vh;
        position: absolute;
        right: 10vw;

    }

    form.login > span > span.error > i,
    form.register > span > span.error > i {

        color: var(--error);
        font-size: 4rem;

    }

    form.login > span > span.error > span,
    form.register > span > span.error > span {

        display: none;

        width: 40vw;
        position: absolute;
        left: -42.5vw;

        font-size: 2rem;
        font-weight: bold;

        background-color: var(--error);

        color: var(--main-color);

    }

    form.login > span > span.error > i:hover + span,
    form.register > span > span.error > i:hover + span {

        display: inline-block;

    }

    div.error_textbox {

        color: var(--text);

    }

    div.error_textbox > h3 {

        margin-top: 15vh;
        font-size: 5rem;

    }

    div.error_textbox > h1 {

        font-size: 10rem;

    }

    div.error_textbox > h4 {

        font-size: 3rem;

    }

    div.error_textbox > span {

        font-size: 2rem;
        position: relative;
        top: 5vh;

    }

    div.error_textbox > span > span {

        color: var(--secondary-color);

    }

    main > article.game {

        width: 90vw;
        height: 50vw;

        margin-left: auto;
        margin-right: auto;

        margin-top: 5vh;

        position: relative;

        box-sizing: border-box;

        border: 1vw solid var(--main-shade);

    }

    main > article.game:first-of-type {

        margin-top: 20vh;

    }

    main > h1.game_ads {

        text-align: center;
        color: var(--text);

        margin-top: 6vh;
        margin-bottom: 20vh;

        font-size: 4rem;

    }

    main > article.game > img {

        width: 100%;
        height: 100%;

        position: absolute;
        top: 0;
        left: 0;

    }

    main > article.game > span {

        display: inline-block;

        width: 100%;
        height: 10vw;
        background-color: var(--main-transparent);

        position: absolute;
        bottom: 0;
        left: 0;

        line-height: 10vw;

        box-sizing: border-box;

        padding-left: 5vw;

        font-size: 3rem;
        font-weight: bold;
        color: var(--text);

    }

    main > article.game > span > a {

        position: absolute;
        right: 5vw;

        text-decoration: none;
        color: var(--secondary-color);

        font-size: 4.5rem;
        font-weight: bold;

        transition: var(--transition);

    }

    main > article.game > span > a:hover {

        opacity: 0.2;

    }

    main.after_register {

        width: 100vw;
        height: 85vh;

        text-align: center;
        color: var(--text);

    }

    main.after_register > h1 {

        font-size: 4.5rem;

        margin-bottom: 10vh;
        margin-top: 15vh;

    }

    main.after_register > span {

        display: inline-block;
        width: 70vw;

        font-size: 3rem;

    }

    main.after_register > span > span#timer {

        color: var(--secondary-color);

    }

    main.account {

        width: 100vw;
        min-height: 85vh;
        text-align: center;

        position: relative;
        padding-top: 5vh;

    }

    main.account > img {

        width: 17vw;
        height: 17vw;

        position: absolute;
        top: 5vw;
        left: 5vw;

        background-color: var(--main-shade);

        border-radius: 50%;
        border: 1rem solid var(--main-shade);

    }

    main.account > h1 {

        font-family: 'Roboto Mono';
        color: var(--text);
        font-size: 3.5rem;

    }

    main.account > a {

        outline: none;

        font-family: 'Arial';

        width: 20vw;
        height: 10vw;

        line-height: 7.5vw;

        color: var(--secondary-color);
        background-color: var(--main-color);

        border: 0.5rem solid var(--secondary-color);
        border-radius: 3vh;

        transition-duration: var(--transition);
        font-weight: bold;

        box-sizing: border-box;
        padding: 1vw;

        cursor: pointer;

        position: absolute;

        top: 5vw;
        right: 5vw;

        text-decoration: none;
        font-size: 1.75rem;

    }

    main.account > a:hover {

        color: var(--main-shade);
        background-color: var(--secondary-color);

        -webkit-box-shadow: 0 0 3rem 0 var(--secondary-color);
        -moz-box-shadow: 0 0 3rem 0 var(--secondary-color);
        box-shadow: 0 0 3rem 0 var(--secondary-color);

    }

    main.account > article.achievements {

        width: 95vw;
        height: 25vw;

        position: absolute;
        top: 27vh;
        left: 2.5vw;

    }

    main.account > article.achievements > h1 {

        font-size: 4rem;
        color: var(--text);

    }

    main.account > article.achievements > h2 {

        font-size: 3rem;
        color: var(--text);
        position: relative;
        top: 5vh;

        display: inline-block;
        max-width: 75vw;

    }

    main.account > article.achievements > div.achievement {

        position: relative;
        top: 5vh;
        z-index: 2;

        width: 23.75vw;
        height: 23.75vw;
        float: left;

    }

    main.account > article.achievements > div.achievement > span.description,
    main.account > article.achievements > div.achievement > span.name {

        display: none;

    }

    main.account > article.achievements > div.achievement > i,
    main.account > article.achievements > div.achievement > img {

        position: relative;
        z-index: 1;

        width: 100%;
        height: 100%;

        cursor: pointer;

    }

    main.account > article.achievements > div.achievement > i {

        display: inline-block;
        line-height: 23.75vw;
        color: var(--text);
        font-size: 15rem;
        background-color: var(--main-color);

    }

    main.account > article.achievements > div.achievement > div {

        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;

        width: 23.75vw;
        height: 23.75vw;

        box-sizing: border-box;
        border: 0.7rem solid var(--text);
        box-shadow: inset 0 0 3rem 0 var(--text);
    }

    main.account > article.achievements > div.achievement.bronze > div {

        border-color: var(--bronze);
        box-shadow: inset 0 0 3rem 0 var(--bronze);

    }

    main.account > article.achievements > div.achievement.silver > div {

        border-color: var(--silver);
        box-shadow: inset 0 0 3rem 0 var(--silver);

    }

    main.account > article.achievements > div.achievement.gold > div {

        border-color: var(--gold);
        box-shadow: inset 0 0 3rem 0 var(--gold);

    }

    main.account > article.achievements > div.achievement.platinum > div {

        border-color: var(--platinum);
        box-shadow: inset 0 0 3rem 0 var(--platinum);

    }

    main.account > article.scoreboards {

        position: absolute;
        top: 60vh;
        width: 100vw;

    }

    main.account > article.scoreboards > h2 {

        text-align: center;
        color: var(--text);

        font-size: 4rem;
        margin-bottom: 5vh;

    }

    main.account > article.scoreboards > div {

        width: 72vw;
        height: 17vh;

        margin-left: auto;
        margin-right: auto;

        background-color: var(--main-shade);
        margin-bottom: 6vh;

    }

    main.account > article.scoreboards > div:last-of-type {

        margin-bottom: 15vh;

    }

    main.account > article.scoreboards > div > span:first-of-type {

        display: inline-block;
        width: 72vw;
        height: 7vh;
        background-color: var(--secondary-color);

        line-height: 7vh;

        color: var(--main-color);
        font-size: 3rem;
        font-weight: bold;

    }

    main.account > article.scoreboards > div > span{

        display: table-cell;
        vertical-align: middle;

        height: 10vh;

        color: var(--text);

        font-size: 2rem;
        font-weight: bold;

        box-sizing: border-box;

        border-left: 0.5vw solid var(--main-color);
        border-right: 0.5vw solid var(--main-color);

    }

    main.account > article.scoreboards > div#pong_scores > span.pong_score{

        width: 24vw;       

    }

    main.account > article.scoreboards > div#snake_scores > span.snake_score{

        width: 36vw;

    }

    main.account > article.scoreboards > div#tic_tac_toe_scores > span.tic_tac_toe_score{

        width: 18vw;

    }

    main.account > article.scoreboards > div> span:nth-of-type(2) {

        border-left: none;

    }

    main.account > article.scoreboards > div > span:last-of-type {

        border-right: none;

    }

    main.settings {

        font-size: 3rem;
        color: var(--text);

        padding: 5vh;
        text-align: center;

    }

    main.settings > input[type="text"] {

        color: var(--text);
        width: 20vw;
        background-color: transparent;
        border: none;
        outline: none;
        border-bottom: 0.5rem solid var(--secondary-color);
        background-color: transparent;
        height: 6vh;

        box-sizing: border-box;
        padding: 1vw;

        color: var(--text);

    }

    main.settings > input[type="text"] + button {

        outline: none;

        font-family: 'Arial';

        width: 15vw;
        height: 5vh;

        line-height: 3.75vh;

        color: var(--secondary-color);
        background-color: var(--main-color);

        border: 0.5rem solid var(--secondary-color);
        border-radius: 3vh;

        transition-duration: var(--transition);
        font-weight: bold;

        box-sizing: border-box;
        padding: 1vw;

        cursor: pointer;

        text-decoration: none;
        font-size: 1.75rem;

    }

    main.settings > input[type="text"] + button:hover {

        color: var(--main-shade);
        background-color: var(--secondary-color);

        -webkit-box-shadow: 0 0 3rem 0 var(--secondary-color);
        -moz-box-shadow: 0 0 3rem 0 var(--secondary-color);
        box-shadow: 0 0 3rem 0 var(--secondary-color);

    }

    main.settings > button.color_changer {

        background-color: var(--color);
        width: 10vw;
        height: 10vw;

        border: none;

    }

    main.settings > img {

        width: 30vw;
        height: 30vw;

        background-color: var(--main-shade);

        border-radius: 50%;
        border: 1rem solid var(--main-shade);

        position: relative;
        top: 2vw;

    }

    main.settings > img.preview {

        width: 10vw;
        height: 10vw;

    }

    main.achievements {

        padding-left: 2vw;

    }

    main.achievements > h2 {

        color: var(--text);
        text-align: center;
        font-size: 3rem;
        position: relative;
        top: 6vh;
        margin-top: 2.5vh;
        margin-bottom: 2.5vh;

    }

    main.achievements > div.achievement {

        margin: 1vw;
        display: inline-block;

        position: relative;
        top: 5vh;
        z-index: 2;

        width: 30vw;
        height: 30vw;
        margin-bottom: 21vw;

    }

    main.achievements > div.achievement:last-of-type {

        margin-bottom: 20vh;

    }

    main.achievements > div.achievement > span.description,
    main.achievements > div.achievement > span.name {

        display: flex;
        align-items: center;

        width: 30vw;
        height: 12vw;
        position: absolute;
        left: 0;
        color: var(--text);
        box-sizing: border-box;
        padding: 1vw;
    }

    main.achievements > div.achievement > span.name {

        bottom: -12vw;
        font-weight: bold;
        font-size: 1.8rem;
        background-color: var(--main-shade);

    }

    main.achievements > div.achievement > span.description {

        bottom: -24vw;
        font-size: 1.5rem;
        background-color: var(--main-shade);

        border-top: 0.1vw solid;
        border-image: linear-gradient(90deg, rgba(255,255,255,0), rgba(255, 255, 255, 1), rgba(255,255,255,0));
        margin-bottom: 4vw;

    }

    main.achievements > div.achievement > i,
    main.achievements > div.achievement > img {

        position: relative;
        z-index: 1;

        width: 100%;
        height: 100%;

        cursor: pointer;

    }

    main.achievements > div.achievement > i {

        display: inline-block;
        line-height: 30vw;
        color: var(--text);
        font-size: 15rem;
        background-color: var(--main-color);

    }

    main.achievements > div.achievement > div {

        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;

        width: 30vw;
        height: 30vw;

        box-sizing: border-box;
        border: 0.7rem solid;
    }

    main.achievements > div.achievement.bronze > div {

        border-color: var(--bronze);
        box-shadow: inset 0 0 3rem 0 var(--bronze);

    }

    main.achievements > div.achievement.silver > div {

        border-color: var(--silver);
        box-shadow: inset 0 0 3rem 0 var(--silver);

    }

    main.achievements > div.achievement.gold > div {

        border-color: var(--gold);
        box-shadow: inset 0 0 3rem 0 var(--gold);

    }

    main.achievements > div.achievement.platinum > div {

        border-color: var(--platinum);
        box-shadow: inset 0 0 3rem 0 var(--platinum);

    }

    main.achievements > div.achievement.blocked > img {

        filter: grayscale(1);

    }

    main.achievements > div.achievement.blocked > div {

        border-color: var(--blocked);
        box-shadow: inset 0 0 3rem 0 var(--blocked);

    }

    main > div.addon {

        width: 100vw;
        height: 20vh;

    }

    body.game{

        color: var(--text);
        text-align: center;

    }

    body.game > h1{

        font-size: 8rem;
        color: var(--secondary-color);
        margin-bottom: 3vh;

    }

    body.game > h2{

        font-size: 5rem;
        margin-bottom: 2vh;

    }

    body.game > h3{

        font-size: 3rem;
        margin-bottom: 1vh;

    }

    body.game > span, body.game > ul{

        font-size: 2rem;
        margin-bottom: 3vh;

    }

    body.game > span{

        max-width: 50vw;
        display: inline-block;

    }

}

@keyframes rotate-border {

    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }

}
